@model TrainingHelper.ViewModels.ToolCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Tool </h4>
<hr />

<br />

<form method="post" asp-action="Create" asp-controller="Tool">
    <br />
    @Html.HiddenFor(model => model.Tool.ToolId)

    @Html.LabelFor(model => model.Tool.Name, "Tool Name:")
    @Html.EditorFor(model => model.Tool.Name, "", "Name")
    <br />
    <br />
    <strong>What Certification is required to run this tool?</strong>
    <select @Html.EditorFor(model => model.Tool.CertificationId, "", "CertificationId")>
        @foreach (var x in Model.Certification)
        {
            <option value=@x.CertificationId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <strong>Select the Bay that this Tool will be in:</strong>
    <select @Html.EditorFor(model => model.Tool.BayId, "", "BayId")>
        @foreach (var x in Model.Bay)
        {
            <option value=@x.BayId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
</form>
<br />

