@model TrainingHelper.ViewModels.ToolCreateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><strong>Edit this Tool:</strong> @Html.DisplayFor(model => model.Tool.Name)</h4>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Tool.ToolId)

    @Html.LabelFor(model => model.Tool.Name, "Tool Name:")
    @Html.EditorFor(model => model.Tool.Name, "", "Tool.Name")
    <br />
    <br />
    <strong>What Certification is required to run this tool?</strong>
    <select @Html.EditorFor(model => model.Tool.CertificationId, "", "Tool.CertificationId")>
        @foreach (var x in Model.Certification)
        {
            <option value=@x.CertificationId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <strong>Select the Bay that this Tool will be in:</strong>
    <select @Html.EditorFor(model => model.Tool.BayId, "", "Tool.BayId")>
        @foreach (var x in Model.Bay)
        {
            <option value=@x.BayId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
}
<br />
