@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Area</h3>
@Html.ActionLink("Create", "Create", "Area") | @Html.ActionLink("Edit or Delete", "List", "Area") 
<hr />
<h3>Bay</h3>
@Html.ActionLink("Create", "Create", "Bay") | @Html.ActionLink("Edit or Delete", "List", "Bay") 
<hr />
<h3>Tool</h3>
@Html.ActionLink("Create", "Create", "Tool") | @Html.ActionLink("Edit or Delete", "List", "Tool") 
<hr />
<h3>Operator</h3>
@Html.ActionLink("Create", "Create", "Operator") | @Html.ActionLink("Edit or Delete", "List", "Operator") 
<hr />
<h3>Certification</h3>
@Html.ActionLink("Create", "Create", "Certification") | @Html.ActionLink("Edit or Delete", "List", "Certification") 
<hr />
