@model TrainingHelper.ViewModels.OperatorCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Operator </h4>
<hr />
<br />

<form method="post" asp-action="Create" asp-controller="Operator" enctype="multipart/form-data">
    <br />
    @Html.HiddenFor(model => model.Oper.OperatorId)

    @Html.LabelFor(model => model.Oper.Name, "Operator Name:")
    @Html.EditorFor(model => model.Oper.Name, "", "Name")
    <br />
    <br />
    <strong>Select a Shift for this operator:</strong>
    <select @Html.EditorFor(model => model.Oper.ShiftId, "", "ShiftId")>
        @foreach (var x in Model.Shift)
        {
            <option value=@x.ShiftId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <div class="file-field input-field">
        <input type="file" name="img" multiple id="img" />
    </div>
    <br />
    <br />
    <input type="submit" value="Save" />
</form>




