@model TrainingHelper.ViewModels.OperatorEditVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><strong>Edit this Operator:</strong> @Html.DisplayFor(model => model.Oper.Name)</h4>
<hr />
<br />


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Oper.OperatorId)

    @Html.LabelFor(model => model.Oper.Name, "Operator Name:")
    @Html.EditorFor(model => model.Oper.Name, "", "Oper.Name")
    <br />
    <br />
    <strong>Select a Shift for this Operator:</strong>

    <select @Html.EditorFor(model => model.Oper.ShiftId, "", "Oper.ShiftId")>
        @foreach (var x in Model.Shift)
        {
            <option value=@x.ShiftId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
}


@using (Html.BeginForm("AddCertToOper", "Operator"))
{
    @Html.HiddenFor(model => model.Oper.OperatorId)
    <strong>Add a Certification to this Operator:</strong>

    <select @Html.EditorFor(model => model.OperatorCertifications.CertificationId, "", "OperatorCertifications.CertificationId")>
        @foreach (var x in Model.Certification)
        {
            <option value=@x.CertificationId>@x.Name</option>
        }
    </select>

    <input type="submit" value="Save" />
}
