 @model TrainingHelper.ViewModels.OperatorCreateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><strong>Edit this Operator:</strong> @Html.DisplayFor(model => model.Oper.Name)</h4>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Oper.OperatorId)

    @Html.LabelFor(model => model.Oper.Name, "Operator Name:")
    @Html.EditorFor(model => model.Oper.Name, "", "Oper.Name")
    <br />
    <br />
    <strong>Select a Shift for this Operator:</strong>
    <select @Html.EditorFor(model => model.Oper.ShiftId, "", "Oper.ShiftId")>
        @foreach (var x in Model.Shift)
        {
            <option value=@x.ShiftId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
}