@model IEnumerable<TrainingHelper.Models.Oper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Here is a list of all Operators in the Fab.</h4>
<hr />

@foreach (var oper in Model)
{
    <div class="panel panel-info col-md-1 panel-thumb">
        <div class="panel-heading ">@Html.ActionLink(oper.Name, "Details", "Operator", new { id = oper.OperatorId })</div>
        <div class="panel-body panel-body-thumb">
            @if (@oper.Img.Length > 0)
            {
                <img class="img-thumb" src="data:image/jpg;base64,@System.Convert.ToBase64String(@oper.Img)" , style="max-width: 100%;" />
            }
        </div>
    </div>
}



@*
      <div class="row">
        @Html.ActionLink(oper.Name, "Details", "Operator", new { id = oper.OperatorId }, new { @class = "btn btn-success custom" })
    </div>

    @Url.Action("Details", "Operator", new { id = oper.OperatorId })

        else
        {
         <p>No Img</p>
        }
*@