@model TrainingHelper.ViewModels.BayCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Bay </h4>
<hr />
<br />

<form method="post" asp-action="Create" asp-controller="Bay">
    <br />
    @Html.HiddenFor(Model => Model.Bay.BayId)

    @Html.LabelFor(Model => Model.Bay.Name, "Bay Name:")
    @Html.EditorFor(Model => Model.Bay.Name, "", "Name")
    <br />
    <br />
    @Html.LabelFor(Model => Model.Bay.TargetTrained, "What's the minium number of operators needed to be certified to run all tools in this bay?")
    @Html.EditorFor(Model => Model.Bay.TargetTrained, "", "TargetTrained")
    <br />
    <br />
    <strong>Select an Area for this Bay:</strong>
    <select @Html.EditorFor(Model => Model.Bay.AreaId, "", "AreaId")>
        @foreach (var x in Model.Area)
        {
            <option value=@x.AreaId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
</form>
 