@model TrainingHelper.ViewModels.BayCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create a new Bay </h4>
<hr />
<br />

<form method="post" asp-action="Create" asp-controller="Bay">
    <br />
    @Html.HiddenFor(Model => Model.Bay.BayId)

    @Html.LabelFor(Model => Model.Bay.Name, "Bay Name:")
    @Html.EditorFor(Model => Model.Bay.Name, "", "Name", new { @class = "placeholder = Enter password" })
    <br />
    <br />
    @Html.LabelFor(Model => Model.Bay.TargetTrained, "What's the minium number of operators needed to be certified to run all tools in this bay?")
    @Html.EditorFor(Model => Model.Bay.TargetTrained, "", "TargetTrained")
    <br />
    <br />
    <strong>Select an Area for this Bay:</strong><br>
    <select @Html.EditorFor(Model => Model.Bay.AreaId, "", "AreaId")>
        @foreach (var x in Model.Area)
        {
            <option value=@x.AreaId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />

    <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown"">
        <select @Html.EditorFor(Model => Model.Bay.AreaId, "", "AreaId", new { @class= "dropdown-menu" })>
            @foreach (var x in Model.Area)
            {
                <option value=@x.AreaId>@x.Name</option>
            }
        </select>
    </div>
</form>
 
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>

@*

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Dropdown Example
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>



        drop
        <select @Html.EditorFor(Model => Model.Bay.AreaId, "", "AreaId")>
            @foreach (var x in Model.Area)
            {
                <option value=@x.AreaId>@x.Name</option>
            }
        </select>

        radio
        @foreach (var x in Model.Area)
        {
            @Html.RadioButtonFor(Model => Model.Bay.AreaId, x.AreaId) @Html.Label(@x.Name)
        }

*@

