@model TrainingHelper.ViewModels.BayCreateVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><strong>Edit this Bay:</strong> @Html.DisplayFor(model => model.Bay.Name)</h4>
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Bay.BayId)

    @Html.LabelFor(model => model.Bay.Name, "Bay Name:")
    @Html.EditorFor(model => model.Bay.Name, "", "Bay.Name")
    <br />
    <br />
    @Html.LabelFor(model => model.Bay.TargetTrained, "What's the minium number of operators needed to be certified to run all tools in this bay?")
    @Html.EditorFor(model => model.Bay.TargetTrained, "", "Bay.TargetTrained")
    <br />
    <br />
    <strong>Select a Area for this Bay:</strong>
    <select @Html.EditorFor(model => model.Bay.AreaId, "", "Bay.AreaId")>
        @foreach (var x in Model.Area)
        {
            <option value=@x.AreaId>@x.Name</option>
        }
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
}
<br />

