@model TrainingHelper.Models.Bay

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><strong>Edit this Bay:</strong> @Html.DisplayFor(model => model.Name)</h4>
<hr />

<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BayId)

    @Html.LabelFor(model => model.Name, "Bay Name:")
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.TargetTrained, "What's the minium number of operators needed to be certified to run all tools in this bay?")
    @Html.EditorFor(model => model.TargetTrained)
    <br />
    <br />
    <strong>Select a Shift for this operator:</strong>
    <select @Html.EditorFor(model => model.AreaId)>
        <option value="1">Photo</option>
        <option value="2">Plasma Etch</option>
        <option value="3">Wet Etch</option>
        <option value="4">Implant</option>
    </select>
    <br />
    <br />
    <input type="submit" value="Save" />
}


