@model TrainingHelper.ViewModels.AreaDetailVM
@using TrainingHelper.ViewModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Here are the Bays in the @Model.Area.Name Area.</h3>
<hr />
<br />

<div class="row">
    @foreach (var bay in Model.Area.Bay)
    {
        <div class="panel panel-success col-md-4 fill">
            <div class="panel-heading mine">@Html.ActionLink(bay.Name, "Details", "Bay", new { id = bay.BayId }) </div>
            <div class="panel-body panel-body-custom">
                @foreach (var tool in bay.Tool)
                {
                    bool enough = false;
                    int numOfCertifiedOps = tool.Certification.OperatorCertifications.AsQueryable().Select(opCert => opCert.Oper).Count();
                    foreach (var x in bay.Tool)
                    {
                        if (numOfCertifiedOps >= tool.Certification.TargetTrained)
                        {
                            enough = true;
                        }
                        else
                        {
                            enough = false;
                            break;
                        }
                    }
                    if (enough == true)
                    {
                        <div class="col-md-6 panel-custom" data-placement="bottom" data-toggle="popover" title="Training Requirements are met" data-content="@tool.Name requireds @tool.Certification.TargetTrained operators to hold the @tool.Certification.Name certification. <br /><br /> Operators who have this certification are:<br /> @foreach (var cert in tool.Certification.OperatorCertifications) {@cert.Oper.Name <br />}">
                            @Html.ActionLink(tool.Name, "Details", "Tool", new { id = tool.ToolId }, new { @class = "btn btn-success bay-btn" })
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 panel-custom" data-toggle="popover" title="Missing required Certifications" data-content="@tool.Name requireds @tool.Certification.TargetTrained operators to hold the @tool.Certification.Name certification. Only @numOfCertifiedOps of @tool.Certification.TargetTrained operators are certified. <br /><br /> Operators who have this certification are:<br /> @foreach (var cert in tool.Certification.OperatorCertifications) {@cert.Oper.Name <br />}">
                            @Html.ActionLink(tool.Name, "Details", "Tool", new { id = tool.ToolId }, new { @class = "btn btn-danger bay-btn" })
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: 'bottom',
            trigger: 'hover',
            html: 'true'
        });
    });
</script>

